<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css"> <!-- Link your CSS file -->
  <title>Add New Categories</title>
</head>

<!-- Add New Category Form -->
<body>
  <!-- Header with logo and navigation -->
  <header>
    <img class="logo" src="/namuenetecogo.png" alt="NamueneTec logo">
    <div class="heading">
        <h1>Add New Categories to NamueneTec Inventory Management</h1>
        <nav>
          <ul>
            <li class="<%= activeTab === 'home' ? 'active' : '' %>"><a href="/">Home</a></li>
            <li class="<%= activeTab === 'about' ? 'active' : '' %>"><a href="/about">About</a></li>
            <li class="<%= activeTab === 'howto' ? 'active' : '' %>"><a href="/howto">HowTo</a></li>
            <li class="<%= activeTab === 'categories' ? 'active' : '' %>"><a href="/categories">Categories</a></li>
            <li class="<%= activeTab === 'items' ? 'active' : '' %>"><a href="/items">Items</a></li>
          </ul>
        </nav>          
    </div>
  </header>
  <main>
    <form class="new" action="/categories" method="POST">
      <br>
      <label for="name">Category Name:</label>
      <input type="text" name="name" required>
      
      <label for="description">Description:</label>
      <input type="text" name="description" required>
      
      <button class="update" type="submit">Add Category</button>
      <br>
    </form>
    <br><br>
    <a href="/categories">Back to Categories</a>
    <br>
  </main>
  
  <!-- About the developer -->
  <footer>
    <p>&copy; 2024 NamueneTec</p>
    <p class="developer">Developed by Dr. Kato Samuel Namuene</p>
    <p class="email">Email: kato.namuene@ubuea.cm</p>
  </footer>
</body>
